---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Symbols from "../components/Symbols.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<div class="container">
		<Symbols />
	</div>
</Layout>

<style>
	body {
		background-color: black;
		height: 100vh;
		text-color: white;
	}

	.container {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
</style>
