---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Navigation from "../components/Navigation.astro";
---

<Navigation />

<div class="container">
    <h1>Myself</h1>
</div>

<style>
    body {
        background-color: black;
        height: 100vh;
        color: white;
    }

    .container {
        padding-top: 60px;
    }
</style>
